/*index*/
nav .employ-nav{
    border-bottom: 3px solid #464646;
}
nav .employ-nav ul .active{
    background-color:#464646;
}
.shop-navbg .shop-navlist a:hover,.shop-navact {
    color:#fff;
    background-color:#464646;
}


.shop-main .shop-gybtn {
    background: url(../../images/shop/shop-gybtnbg.png) no-repeat;
}

.g-taskmainlist li .g-toshopbtn:hover {
    border-color: #464646;
    color: #fff;
    background: url(../../images/toshopbtnh.png) no-repeat 14px center #464646;
}