section{
	margin: 40px 0 50px 0;
}
.span-space {
	display: inline-block;
	width: 44px;
	vertical-align: bottom;
}
.task-checkip{
	height: auto;
	margin-bottom: 0;
	line-height: 15px;
	float: left;
	margin-left: 10px;
}
.personal-info{
	position: relative;
	width: 100%;
	height: 195px;
	padding: 40px 43px;
}
.personal-info-back-pic{
	position: absolute;
	top:0;
	right: 0;
	left:0;
	bottom: 0;
	width: 100%;
	height: 195px;
}
.personal-info-words{
	position: absolute;
	top:43px;
	right: 40px;
	left:40px;
	bottom: 43px;
	z-index: 2;
}
.change-back-img-btn{
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	right: -40px;
	top: -43px;
	cursor: pointer;
	background: url(../../../images/personal_change_back.png) center no-repeat;
}
.personal-info-pic{
	width: 104px;
	height: 104px;
	float: left;
	margin: 5px 20px 5px 0;
}
.personal-info-block{
	color: #fff;
	float: left;
	width: 990px;
}
.personal-info-block-name{
	position: relative;
	line-height: 24px;
	margin-bottom: 15px;
}
.personal-info-block-name span{
	width: 20px;
	height: 20px;
	display: inline-block;
	position: relative;
	top: 2px;
	margin: 0 5px;
}
.personal-info-block-name h3{
	margin: 0 5px 0 0;
	display: inline-block;
}
/*.bank-attestation{*/
	/*background: url(../../../images/personal_bank.png) center no-repeat;*/
/*}*/
/*.cd-card-attestation{*/
	/*background: url(../../../images/personal_cd_card.png) center no-repeat;*/
/*}*/
/*.alipay-attestation{*/
	/*background: url(../../../images/personal_alipay.png) center no-repeat;*/
/*}*/
.bank-attestation{
	background: url(../../../images/bank-c.png) center no-repeat;
}
.bank-attestation-no{
	background: url(../../../images/bank-h.png) center no-repeat;
}
.cd-card-attestation{
	background: url(../../../images/realname-c.png) center no-repeat;
}
.cd-card-attestation-no{
	background: url(../../../images/realname-h.png) center no-repeat;
}
.email-attestation{
	background: url(../../../images/email-c.png) center no-repeat;
}
.email-attestation-no{
	background: url(../../../images/email-h.png) center no-repeat;
}
.alipay-attestation{
	background: url(../../../images/pay-c.png) center no-repeat;
}
.alipay-attestation-no{
	background: url(../../../images/pay-h.png) center no-repeat;
}
.personal-tag{
	height: 25px;
}
.personal-tag span{
	display: inline-block;
	padding: 0 10px;
	border: 1px solid #fff;
	border-radius: 10px;
	margin-left: 10px;
}
.personal-about span{

	width: 40px;
	display: inline-block;
}
.personal-about p{
	display: inline-block;
	width: 950px;
	float: right;
}
.personal-case-detail-list{
	padding: 0  22px;
	margin: 16px 0;
	height: 49px;
	border-bottom: 1px solid #ebebeb;
	background: #fff;
}
.personal-case-list, .personal-evaluate-detail{
	display: inline-block;
	height: 49px;
	line-height: 29px;
	font-size: 18px;
	padding: 10px 15px;
}

.personal-add-case-btn{
	display: inline-block;
	width: 108px;
	height: 36px;
	line-height: 36px;
	color: #fff;
	text-align: center;
	float: right;
	margin: 6px 20px 6px -15px;
	font-size: 14px;
	border-radius: 3px;
}
.personal-add-case-btn:hover{
	color: #fff;
}
/*成功案例列表*/
.case-list-item{
	height: 290px;
	margin-bottom: 20px;
}
.case-list-item img{
	width: 100%;
	height: 202px;
}
.case-list-item-name{
	background-color:  #f7f7f7;
	height: 43px;
	font-size: 14px;
	padding: 11px 10px;
	overflow: hidden;
}
.case-list-item-name p{
	margin: 0;
	width: 155px;
	display: inline-block;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.case-list-item-name span{
	display: inline-block;
	float: right;
	color: #898989;
}
.case-list-item-admin{
	background-color:  #f7f7f7;
	height: 43px;
	font-size: 14px;
	padding: 4px 10px;
	overflow: hidden;
	border-bottom: 2px solid #f0f0f0;
}
.case-list-item-admin-info{
	height: 35px;
	float: left;
	line-height: 35px;
}
.case-list-item-admin-info p{
	display: inline-block;
	margin: 0;
	width: 120px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.case-list-item-admin span{
	display: inline-block;
	float: right;
	color: #898989;
	height: 35px;
	line-height: 35px;
}
.case-list-item-admin  .case-tag{
	float: left;
}
.case-list-item-admin span i {
	color:#d9d9d9;
}
.case-list-item-admin span .fa-tag{
	transform:rotateZ(90deg);
}
.add-case-modal .modal-header{
	padding: 5px 15px;
	background: #ededed;
	font-size: 14px;
}
.add-case-modal .modal-header .close{
	font-size: 24px;
}
.upload-case-back-btn-tips{
	height: 70px;
	padding: 20px 0;
	border-bottom: 1px solid #ebebeb;
}
.upload-case-back-btn{
	display: inline-block;
	height: 36px;
	width: 108px;
	border:1px solid #ebebeb;
	font-size: 14px;
	line-height: 36px;
	text-align: center;
	color: #515151;
	margin-right: 20px;
	position: relative;
}
.upload-case-back-btn input{
	position: absolute;
	top: 0;
	left: 0;
	height: 36px;
	width: 108px;
	opacity: 0;
}
.upload-case-back-tips i{
	font-size: 16px;
	color: #ff9933;
}
.add-case {
	margin-left:0!important;
	margin-right: 0!important;
}
.add-case-modal .modal-body{
	padding: 15px 50px;
}
.add-case-modal .modal-body img{
	width: 498px;
	height: 81px;
}
.add-case-modal .modal-footer{
	border: none;
	background: #fff;
	padding: 0 50px 15px 50px;
}
.add-case-modal .btn{
	border-radius: 3px;
}
.restore-default-btn {
	float: left;
}
.restore-default-btn , .restore-default-btn:focus,.restore-default-btn:hover{
	background-color: #ff6262!important;
	border-color: #ff6262;
}
.restore-default-btn:active:focus,.restore-default-btn:active:hover{
	border-color: #e83333;
}
.close-space-tip{
	min-height: 500px;
	text-align: center;
	padding-top: 80px;
	font-size: 16px;
	color: #898989;
}
/*评价详情*/
.personal-evaluate-area{
	border: 1px solid #ebebeb;
	background-color: #fff;
	color: #898989;
}
.personal-total-evaluate{
	height: 90px;
	border-bottom: 1px solid #ebebeb;
	overflow: hidden;
}
.personal-total-evaluate-num{
	width: 220px;
	height: 52px;
	float: left;
	overflow: hidden;
	padding-right: 40px;
	margin: 19px 40px;
	border-right: 1px solid #ebebeb;
}
.personal-evaluate-cicle-title{
	float: left;
	width: 52px;
	height: 52px;
	border: 1px solid #999;
	border-radius: 50%;
	font-size: 14px;
	padding: 8px;
	text-align: center;
	line-height: 17px;
}
.personal-good-evaluate{
	width: 123px;
	height: 52px;
	padding-left: 10px;
	float: left;
}
.personal-good-evaluate p{
	margin-bottom: 0;
	height: 26px;
	line-height: 18px;
}
.personal-good-evaluate p span{
	font-size: 20px;
	color: #ff9934;
}
.personal-total-evaluate-point{
	float: left;
	margin: 19px 0;
	overflow: hidden;
}
.personal-evaluate-starts-list{
	float: left;
	height: 52px;
	overflow: hidden;
}
.personal-evaluate-starts-item{
	width: 130px;
	height: 52px;
	float: left;
	margin-left: 30px;
}
.personal-star{
	width: 100px;
	height: 18px;
	display: inline-block;
	background: url(../../../images/star.png) repeat-x ;
}
.personal-evaluate-star-base{
	width: 80px;
	height: 18px;
	display: inline-block;
	background: url(../../../images/star.png) repeat-x left -52px;
}
.personal-evaluate-star-base-1{
	width: 20px;
	height: 18px;
	display: inline-block;
	background: url(../../../images/star.png) repeat-x left -52px;
}
.personal-evaluate-star-base-2{
	width: 40px;
	height: 18px;
	display: inline-block;
	background: url(../../../images/star.png) repeat-x left -52px;
}
.personal-evaluate-star-base-3{
	width: 60px;
	height: 18px;
	display: inline-block;
	background: url(../../../images/star.png) repeat-x left -52px;
}
.personal-evaluate-star-base-4{
	width: 80px;
	height: 18px;
	display: inline-block;
	background: url(../../../images/star.png) repeat-x left -52px;
}
.personal-star .personal-evaluate-star-base-5{
	width: 100px;
	height: 18px;
	display: inline-block;
	background: url(../../../images/star.png) repeat-x left -52px;
}
.personal-evaluate-star-point-1{
	width: 20px;
	height: 18px;
	display: inline-block;
	background: url(../../../images/star.png) repeat-x left -26px;
}
.personal-evaluate-star-point-2{
	width: 40px;
	height: 18px;
	display: inline-block;
	background: url(../../../images/star.png) repeat-x left -26px;
}
.personal-evaluate-star-point-3{
	width: 60px;
	height: 18px;
	display: inline-block;
	background: url(../../../images/star.png) repeat-x left -26px;
}
.personal-evaluate-star-point-4{
	width: 80px;
	height: 18px;
	display: inline-block;
	background: url(../../../images/star.png) repeat-x left -26px;
}
.personal-evaluate-star-point-5{
	width: 100px;
	height: 18px;
	display: inline-block;
	background: url(../../../images/star.png) repeat-x left -26px;
}
.personal-evaluate-list ul{
	margin: 0;
}
.personal-evaluate-list-item{
	overflow: hidden;
	padding: 30px 0 8px 0;
	margin: 0 19px;
	border-bottom: 1px dashed #ebebeb;
}
.personal-evaluate-list .personal-evaluate-list-item a{
	color: #23527c;
}
.personal-case-evaluate-words{
	width: 960px;
	float: left;
}
.personal-case-evaluate-words h5{
	margin: 0;
	font-size: 16px;
}
.personal-case-evaluate-words h5 span{
	color: #ff9934;
	padding-right: 15px;
}
.personal-case-evaluate-words p{
	height: 45px;
	padding: 15px 0;
	margin-bottom: 0;
	line-height: 15px;
	font-size: 12px;
	color: #898989;
	text-overflow:ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.personal-case-evaluate-person-time{
	float: left;
	color: #898989;
}
.personal-case-evaluate-person-time p{
	line-height: 17px;
	position: relative;

}
.personal-case-evaluate-person-time p span.good-evaluate{
	display: inline;
	color: #ff9934;
}
.evaluate-flowers{
	display: inline-block;
	width: 15px;
	height: 17px;
	margin-right: 10px;
	background: url(../../../images/flower.png) no-repeat;
	position: relative;
	top: 3px;
}
.evaluate-flowersin {
	background: url(../../../images/flower.png) no-repeat 0 -22px;
}
.evaluate-flowersno {
	background: url(../../../images/flower.png) no-repeat 0 -43px;
}
.personal-evaluate-page{
	height: 49px;
	padding: 8px 0;
}
.personal-evaluate-page li a{
	margin: 0 5px;
}
/*添加案例*/
.personal-add-case{
	height: 750px;
	border: 1px solid #ebebeb;
	margin: 15px -15px 0 -15px;
	padding: 22px;
	background: #fff;
}

.personal-add-case-concel{
	display: inline-block;
    width: 80px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    margin: 6px 20px 6px 0;
    font-size: 14px;
}
.personal-add-case-upload-img{
	display: inline-block;
	width: 106px;
	height: 30px;
	font-size: 14px;
	line-height: 30px;
	text-align: center;
	border: 1px solid #ebebeb;
	position: relative;
	cursor: pointer;
	z-index: 100;
}
.personal-add-case-upload-img input{
	width: 100%;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	cursor: pointer;
}
.personal-case-kind{
	height: 30px;
	width: 75px;
	display: inline-block;
	margin-right: 20px;
	border: 1px solid #ebebeb;
	line-height: 30px;
	text-align: center;
	font-size: 12px;
	color: #515151;
}
.personal-case-more-kind{
	height: 30px;
	width: 75px;
	display: inline-block;
	line-height: 30px;
	text-align: center;
	font-size: 12px;
}
/*成功案例详情*/
.personal-case-detail-main-area{
	border: 1px solid #ebebeb;
	background: #fff;
	padding: 0;
	margin-top: 30px;
}
.personal-case-detail-title-name{
	text-align: left;
	height: 125px;
	padding: 30px 0;
	margin: 0 20px;
	border-bottom: 1px solid #ebebeb;
}
.personal-case-detail-title-name h4{
	margin-top: 0;
	margin-bottom: 20px;
	font-weight: 800;
}
.personal-case-detail-tags{
	display: inline-block;
	height: 20px;
	line-height: 15px;
	border: 1px solid #c0c6d2;
	color:  #898989;
	padding: 2px 10px;
	border-radius: 10px;
	margin-right: 5px;
}
.personal-case-detail-time{
	float: right;
	color:  #898989;
}
.personal-case-detail-info-words{
	padding: 40px 20px 0 20px;
}
.personal-case-detail-info-words p{
	line-height: 22px;
	text-indent: 28px;
	margin-bottom: 35px;
}
.personal-case-detail-info-img{
	text-align: center;
	margin-bottom: 35px;
}
.personal-case-detail-info-img img{
	display: inline-block;
	max-width:100%;
}
.personal-case-detail-side-img{
	padding: 18px 16px;
	border: 1px solid #ebebeb;
	background-color: #fff;
}
.personal-case-detail-about{
	border: 1px solid #eaeaea;
    background: #fff;
    padding: 20px;
}
.personal-case-detail-about ul{
	margin: 0 0 -1px 0;
    overflow: hidden;
    height: 629px;
}
.personal-case-detail-about li{
	height: 126px;
	border-bottom: 1px dashed #ccc;
	padding: 20px 0;
}
.personal-case-detail-about li img{
	width: 86px;
	height: 86px;
}
.personal-case-detail-about-info{
	padding-left: 20px;
}
.personal-case-detail-about-info p{
	margin-bottom: 5px;
}
.personal-case-detail-about-info-name{
	display: inline-block;
	width: 120px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
/*打开关闭空间按钮*/
.open-close-space-btn{
	position: absolute;
	top: 4px;
	right: 25px;
}
.open-close-space-btn input[type=checkbox].ace.ace-switch:checked+.lbl::before{
	background-color: #1abc9c;
	font-family:"Microsoft YaHei";
}
.open-close-space-btn input[type=checkbox].ace+.lbl::before,.open-close-space-btn input[type=radio].ace+.lbl::before{
	background-color: #e74c3c;
	font-family:"Microsoft YaHei";
	content:"ON\a0\a0\a0\a0\a0\a0\a0OFF";
	color:#fff;
	border:none;
	line-height: 20px;
}
.open-close-space-btn input[type=checkbox].ace.ace-switch+.lbl::after{
	font-family:"Microsoft YaHei";
}


/* 响应式 */
@media (min-width: 992px) and (max-width: 1200px){
	.personal-info{
		width: 100%;
		margin: 0;
	}
	.personal-info-back-pic{
		width: 100%;
	}
	.personal-info-block{
		width: 85%;
	}
	.personal-case-detail-list{
		margin: 16px 0;
	}
	.case-list-box{
		width: 100%;
		margin: 0;
	}
	.add-case.add-case992{
		margin: 15px 0 0;
	}
	.add-case.add-case992 .col-sm-1{
		width: 12.333333%;
	}
	.add-case.add-case992 .col-sm-11{
		width: 87.66666667%;
	}
	.add-case.add-case992 .form-group .col-sm-offset-1 {
		margin-left: 11%;
	}
}
@media (max-width: 991px) and (min-width: 769px) {
	.container{
		width: 100%;
	}
	section{
		margin: 15px 0 50px 0;
	}
	.personal-info{
		width: 100%;
		margin: 0;
	}
	.personal-info-back-pic{
		width: 100%;
	}
	.personal-info-block{
		width: 85%;
	}
	.add-case.add-case992{
		margin: 15px 0 0;
	}
	.add-case.add-case992 .col-sm-1{
		width: 9.333333%;
	}
	.add-case.add-case992 .col-sm-11{
		width: 90.66666667%;
	}
	.personal-case-detail-list{
		width: 100%;
		margin: 16px 0;
	}
	.personal-evaluate-area{
		margin: 0;
	}
	.case-list-box{
		width: 100%;
		margin: 0;
		background: #0058dd;
	}
}
@media (max-width: 768px) and (min-width: 640px) {
	.container{
		width: 100%;
	}
	section{
		margin: 15px 0 50px 0;
	}
	.personal-info{
		width: 100%;
		margin: 0;
		height:110px;
		padding:4%;
	}
	.personal-info-back-pic{
		width: 100%;
		height:100%;
	}
	.personal-info-pic{
		width: 60px;
		height:60px;
		position: relative;
		top: -20px;
	}
	.personal-info-block{
		width: 75%;
		position: relative;
		top: -30px;
		overflow: hidden;
	}
	.personal-info-block-name{
		margin-bottom: 8px;
	}
	.open-close-space-btn{
		display: none;
	}
	.add-case.add-case992{
		margin: 15px 0 0;
	}
	.add-case.add-case992 .col-sm-1{
		width: 12.333333%;
	}
	.add-case.add-case992 .col-sm-11{
		width: 87.66666667%;
	}
	.add-case.add-case992 .form-group .col-sm-offset-1 {
		margin-left: 11%;
	}
	.task-select a:last-of-type(1),
	.task-select a:last-of-type(2),
	.task-select a:last-of-type(3),
	.task-select a:last-of-type(4){
		display: none;
	}
	.personal-case-detail-list{
		width: 100%;
		margin: 16px 0;
	}
	.personal-evaluate-area{
		margin: 0;
	}
	.case-list-box{
		width: 100%;
		margin: 0;
		background: #0058dd;
	}
	.case-list-item img{
		width: 100%;
	}
	.personal-total-evaluate{
		height:auto;
	}
	.personal-total-evaluate-num{
		width: 100%;
		margin: 0;
		height: auto;
		padding:15px;
		border-right: none;
	}
	.personal-total-evaluate-point{
		width: 100%;
		margin: 0;
		padding:0 15px 15px;
		float: none;
		overflow: hidden;
	}
	.personal-evaluate-starts-list{
		width: 70%;
		height:auto;
	}
	.personal-evaluate-starts-item{
		margin-left: 10px;
	}
	.personal-evaluate-list-item{
		margin: 0 15px;
		padding:15px 0 8px;
	}
	.personal-case-evaluate-words{
		width: 70%;
	}
	.personal-case-evaluate-person-time{
		width: 28%;
		text-align: left;
	}
}
@media (max-width: 639px) and (min-width: 320px) {
	.container{
		width: 100%;
	}
	section{
		margin: 15px 0 50px 0;
	}
	.personal-info{
		width: 100%;
		margin: 0;
		padding:2%;
		height:110px;
	}
	.personal-info-back-pic{
		width: 100%;
		height:100%;
	}
	.open-close-space-btn{
		display: none;
	}
	.personal-info-words{
		position: absolute;
		left:5px;
	}
	.personal-info-block{
		width: 70%;
		position: relative;
		top:-30px;
	}
	.personal-info-block-name{
		margin-bottom: 8px;
	}
	.task-select a:last-of-type(1),
	.task-select a:last-of-type(2),
	.task-select a:last-of-type(3),
	.task-select a:last-of-type(4){
		display: none;
	}
	.personal-case-detail-list{
		width: 100%;
		margin: 16px 0;
	}
	.personal-evaluate-area{
		margin: 0;
	}
	.case-list-box{
		width: 100%;
		margin: 0;
		background: #0058dd;
	}
	.personal-add-case-btn{
		display: none;
	}
	.personal-info-pic{
		width: 60px;
		height:60px;
		margin-right:10px;
		position: relative;
		top: -20px;
	}
	.case-list-item{
		height: auto;
		overflow: hidden;
	}
	.case-list-item img{
		width: 100%;
		max-height: 150px;
		height:auto;
	}
	.case-list-item-name{
		padding:10px 5px 6px;
		height:auto;
		line-height: 1.2;
	}
	.case-list-item-admin{
		padding:6px 5px;
		height:auto;
		line-height: 1.2;
	}

	.case-list-item-name p{
		width: 100%;
	}
	.case-list-item-admin span{
		width: 49.5%;
		height:auto;
		line-height: 1.5;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.personal-total-evaluate{
		height:auto;
	}
	.personal-total-evaluate-num{
		width: 100%;
		margin: 0;
		height: auto;
		padding:15px;
		border-right: none;
	}
	.personal-total-evaluate-point{
		width: 100%;
		margin: 0;
		padding:0 15px 15px;
		float: none;
		overflow: hidden;
	}
	.personal-evaluate-starts-list{
		width: 70%;
		height:auto;
	}
	.personal-evaluate-starts-item{
		margin-left: 10px;
	}
	.personal-evaluate-list-item{
		margin: 0 5px;
		padding:15px 0 8px;
	}
	.personal-case-evaluate-words{
		width: 60%;
	}
	.personal-case-evaluate-person-time{
		width: 36%;
		text-align: right;
	}
	.personal-case-evaluate-person-time p:last-child span{
		display: inline-block;
		width: 100%;
		white-space: nowrap;
	}

}

@media (min-width: 992px) {
	.case-list-box{
		min-height: 455px;
	}
}
.personCase-ico-circle,.personCase-ico-edit{
	position: absolute;
	right: 20px;
	top: 10px;
	color: #25639e;
	font-size: 18px;
	display: none;
	cursor: pointer;
}
.personCase-ico-edit{
	right: 50px;
	top: 5px;
}
.case-list-item:hover .personCase-ico-circle,.case-list-item:hover .personCase-ico-edit{
	display: block;
}
.personal-case-list-tit{
	color: #515151;
}