.g-main .u-title{ margin: 0;padding-bottom: 18px;}
.g-recharge .u-title {
    background: url("../../../images/rechargetitbg.png") no-repeat 4px 0;
    text-indent: 52px;
    padding-top:6px;
}
.g-recharge .m-radio .lbl span {
    width:152px;
    height:42px;
    display: inline-block;
    border:1px solid #dfdfdf;
    margin-left:13px;
    line-height: 42px;
    overflow: hidden;
}
.g-recharge .m-radio .lbl .u-radioali,.g-recharge .m-radio .lbl .u-radiowx,.g-recharge .m-radio .lbl .u-radiopay {
    line-height: 37px;
}
.g-recharge .m-radio label {
    vertical-align: middle;
}
.g-recharge .m-radio input {
    float: left;
    margin-left:30px;
    margin-top:7%;
}
/*.g-recharge .u-radioali {*/
    /*!*background: url("../../../images/radioali.jpg") no-repeat center 30%;*!*/
/*}*/
/*.g-recharge .u-radiowx {*/
    /*background: url("../../../images/radiowx.jpg") no-repeat center center;*/
/*}*/
/*.g-recharge .u-radiopay {*/
    /*background: url("../../../images/radiopay.jpg") no-repeat center center;*/
/*}*/
.g-recharge .modal-header .modal-title {
    font-size:14px;
    color: #7e7e7e;
}

.g-recharge .modal-body i {
    font-size:40px;
    color:#f29901;
    padding-right: 14px;
    vertical-align: middle;
}
.g-recharge .modal-body a {
    color:#999;
    padding-left:6px;
}
.g-recharge .modal-body h4 {
    margin-bottom:0;
}
.g-recharge .modal-body .u-modal-link {
    font-size:14px;
    color: #0167cc;
}
.g-recharge .modal-body .btn-big {
    color:#fff;
    padding-left:33px ;
    font-size:14px;
}
.g-recharge .modal-body .u-modal-btn {
    padding-left:38px;
}
.g-recharge .modal-body .u-modal-link {
    padding-right: 36px;
}
.g-recharge .alert-warning {
    color:#c44422;
    font-size:16px;
    text-indent: 10px;
}
.g-recharge .alert-warning b {
    font-size:22px;
    color:#f08405;
}
.g-recharge .g-code {
    max-width:335px;
    margin:0 auto;
}
.g-recharge .g-codeinfo {
    color:#fff;
    background:url("../../../images/codeinfo.jpg") no-repeat 46px center #2f549f;
    padding:1px 0 1px 112px;
}
.g-recharge .g-codeinfo p {
    margin:5px 0;
}
.g-recharge .g-codeimg {
    padding:11px;
    border:1px solid #ddd;
}
.g-recharge .g-codeimg img {
    width: 100%;
}
.g-recharge .g-codephone img{
    max-width:290px;
    width: 100%;
}
.g-withdrawmain a {
    color:#0058dd;
    margin-left:14px;
}
.g-withdrawmain .btn-big {
    color:#fff;
}
.g-withdrawhint {
    max-width:454px;
    margin:80px auto;
    padding-left:85px;
    color: #262626;
    background:url("../../../images/withdrawhint.png") no-repeat;
}
.g-withdrawhint a {
    color:#0058dd;
    padding-right:28px;
}
/*清样式*/
.profile-users .memberdiv {
    width:auto;
    text-align:left;
    margin:0;
    background-color:inherit;
}
.profile-users .memberdiv .popover.right {
    left:25%;
}
.modal-header .close {
    font-size:22px;
}
.popover {
    box-shadow:none;
    border-color:#e5c384;
    background-color: #fefbdb;
}
.popover.right > .arrow::after {
    -moz-border-right-colors: #fefbdb;
    border-right-color: #fefbdb;
}
.popover.right > .arrow {
    border-right-color: #e5c384;
}

.m-radio input[type=radio].ace+.lbl::before{
    top:-36px;
}
.cash-bankImg input[type=radio].ace+.lbl::before{
    top:-17px;
}
.m-radio .inline{
    margin-left: 29px;
}

/*我要提现*/
.g-recharge .m-radio .lbl .lbl-bank{
    height:84px;
    width:162px;
}
.g-recharge .m-radio .lbl .lbl-bank div{
    height:42px;
    line-height: 42px;
}
.g-recharge .m-radio .lbl .lbl-bank .s-packbor{
    border-bottom: 1px dashed #e0e0e0;
}
.g-recharge .m-radio span.lbl-active{
    border-color: #0157e0;
}
.g-recharge .cashier{
    padding-left: 52px;
    text-indent:0;
}
.g-recharge .cashiergray{
    border-color: #f3f3f3;
    background-color: #fafafa;
}
.g-recharge .cashierred{
    border-color: #fff0ea;
    background-color: #fff8f5;
    color:#ba7050;
    font-size:12px;
}
.g-recharge .cashierred i{
    font-size:16px;
}
.g-recharge .cashier-alert-cont{
    display: none;
}
.g-recharge .cashier-alert{
    margin-bottom: 32px;
    cursor: pointer;
}
/*.g-recharge .cashier-alert:hover .cashier-alert-cont{
    display: block;
}*/
/*.g-recharge .s-bank1{*/
    /*background: url("../../../images/bank1.png") no-repeat center;*/
/*}*/
/*.g-recharge .s-bank2{*/
    /*background: url("../../../images/bank2.png") no-repeat center;*/
/*}*/
/*.g-recharge .s-bank3{*/
    /*background: url("../../../images/bank3.png") no-repeat center;*/
/*}*/
/*.g-recharge .s-bank4{*/
    /*background: url("../../../images/bank4.png") no-repeat center;*/
/*}*/

.memberdiv-validform .Validform_checktip{
    margin-left: 15px;
}
.cashiergray-box .cashiergray-bg{
    border-color: #f3f3f3;
    background-color: #fafafa;
}
.g-getpay .u-title {
    padding-bottom: 18px;
    border-bottom: 3px solid #2f55a0;
    margin: 0;
}
section .g-getpay {
    margin:0;
    padding: 20px 41px 40px;
    box-shadow: 3px 3px 3px #ECECEC;
    min-height: 660px;
}